{% extends 'base.html.twig' %}

{% block title %}Modifier {{ series.title }}{% endblock %}

{% block body %}
    <a class="btn btn-success btn-menu mb-3" href="{{ path('admin_seriesAdmin') }}">Liste des séries admin</a>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center mb-4">
    <h1 class="title">Modifier {{ series.title }}</h1>
            </div>

    {{ include('series/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        </div>
    </div>
</div>
{% endblock %}
