{{ form_start(form) }}
    {{ form_row(form.name, {
        'label': "Nom de la catégorie",
        'attr': {
            'class': 'form-control border shadow-sm mb-3'
        }
    }) }}
<div class="mt-3 text-center">
    <div class="d-inline-block">
        <button class="btn btn-warning" style="color: white !important; text-decoration: none;">
            {{ button_label|default('Enregistrer') }}
        </button>
    </div>
</div>
{{ form_end(form) }}
