{% extends 'base.html.twig' %}

{% block title %}Ajouter un acteur{% endblock %}

{% block body %}
    <a class="btn btn-danger btn-menu" href="{{ path('admin_index') }}">Menu administrateur</a>

    <div class="container py-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="text-center mb-4">
                    <h1 class="title">Ajouter un nouvel acteur</h1>
                </div>

                {{ include('actor/_form.html.twig') }}
            </div>
        </div>

    </div>
{% endblock %}
